<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %} Shopp {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- build:css /static/css/main.min.css -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">
    <!-- /build -->
</head>

<header>
    {% include "_header.html" %}
</header>

<body class="app">

    <main id="content-wrap" class="container">
        {% block main %} {% endblock %}
    </main>

    {% block js %} {% endblock %}

    <script src="https://mozilla.github.io/nunjucks/files/nunjucks-slim.min.js"></script>
    <footer>
        {% include "_footer.html" %}
    </footer>
</body>


<style>
    footer{
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
    }

    body {
        position: relative;
        min-height: 100vh;
    }

    #content-wrap {
        padding-bottom: 2.5rem;    /* Footer height */
    }
</style>

<script src="/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
 $(document).ready(function (){
 })
</script>
</html>
