<style>
    .btn:hover {
        background-color: #007bff;
        color: white;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-75 bg-gradient">
    <div class="container">
        <h1 style="font-size: 2rem;">rentAR</h1>
        <p style="color: white; margin-top: 1.5rem; font-family: 'Montserrat', sans-serif;">Acá va el buscador</p>
        <button onclick='window.location.href = "/formulario" ' class="btn btn-light ml-auto">Publicar producto</button>
    </div>
</nav>