{% extends "_base.html" %}
{% import "_product-card.html" as productCard %}


{% block main %}
    <div class="my products" style="margin-top: 12px; display: grid; grid-template-columns: repeat(3, 1fr); justify-content: center;">
        <!--<h2>Acá va la lista de productos</h2>-->
        {% for product in products %}
            {{ productCard.productCard(product) }}
        {% endfor %}
    </div>
{% endblock %}

{% block css %} 
<style>
    #btnDelete{
        display: block;
    }
</style>
{%endblock%}


