{% extends "_base.html" %}
{% import "_product-card.html" as productCard %}


{% block main %}
    <div class="my favs" style="margin-top: 12px; margin-bottom: 12px;">
        {% if products | length > 0 %}
            {% for product in products %}
                {{ productCard.productCard(product) }}
            {% endfor %}
        {% else %}
            <div class="ui-search-rescue__info" style="margin-top: 12px;">
                <h4 class="fw-bolder">No se encontraron productos marcados como favoritos</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block css %} 
<style>
    #btnDelete{
        display: none;
    }
    
</style>
{%endblock%}