{% extends "_base.html" %}
<!-- Falta agregar el nav bar del header -y corregir las posiciones esteticas de los productos-->

{% block main %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Detalles del Producto</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h2>{{ product.nombre }}</h2>
            <p><strong>Precio:</strong> {{ product.moneda.simbolo }}{{ product.precio }} {{ product.moneda.sigla }}</p>
            <p><strong>Zona:</strong> {{ product.localidad.nombre }}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h3>Características:</h3>
            <p>{{ product.detalle }}</p>
            <a href="/" class="btn btn-primary">Volver a la página principal</a>
            
        </div>
    </div>
</div>
{% endblock %}
