{% extends "_base.html" %}
{% import "_pregunta.html" as preguntaMacro %}

{% block css %}
<style>
    /**{*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*    font-family: Arial, Helvetica, sans-serif;*/
    /*    box-sizing: border-box;*/
    /*    text-decoration: none;*/
    /*}*/
    .container-central {
        width: 90%;
        height: 90%;
        background-color: #1A2234;
        margin-bottom: 2em;
        padding: 20px 20px 20px;
        text-align: center;
        border-radius: 25px;
        position: relative;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 60px;
        color: #FFFFFF;
        position: relative;
    }

    .span-label {
        font-size: 1.4em;
        margin-bottom: 60px;
        color: #FFFFFF;
        float: left;
    }

    .span-content {
        font-size: 1.2em;
        margin-bottom: 60px;
        color: #FFFFFF;
        position: relative;
    }

    .row-detalle {
        height: 4em;
    }

    .input-field select {
        width: 25%;
        background-color: #828A97;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .input-field select option {
        color: #828A97;
    }

    .btn-field {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: -15px;
    }

    .btn-field button {
        flex-basis: 48%;
        font-size: 14px;
        background-color: #6982E8;
        color: #FFFFFF;
        height: 35px;
        border-radius: 8px;
        /*Eliminar en caso de que se quiera hacer el botón como un cuadrado*/
        border: 0;
        outline: 0;
        border: none;
        outline: none;
        cursor: pointer;
        transition: background 1s;
        margin-right: 10px;
    }

    #btnFavs:hover {
        background-color: transparent;
    }

    #btnFavs {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 27px;
        margin-right: 20px;
    }

    .preguntas {
        margin-top: 20px;
    }

    .preguntas h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .preguntas .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .preguntas-contenido {
        display: none;
        background-color: #252F46;
        padding: 20px;
        border-radius: 5px;
    }

    .preguntas-contenido ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .preguntas-contenido li {
        margin-bottom: 10px;
    }

    .preguntas-contenido li .pregunta-respuesta{
        margin-bottom: 1em;
        position: relative;
        width: 100%;
        float: left;
        padding: 10px;
        border-radius: 5px;
    }


    .pregunta{
        width: 80%;
        border-radius: 25px;
        padding: 12px;
        background: gray;
        color: white;
        padding: 10px;
        position: relative;
        font-family: sans-serif;
        z-index: 1;
    }
    .pregunta::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -20px;
        background: transparent;
        width: 0px; height: 0px;
        border-bottom: 40px solid gray;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        transform: rotate(180deg);
        z-index: -1;
    }


    .respuesta{
        margin-top: 0.5em;
        float: right;
        border-radius: 25px;
        padding: 12px;
        background: lightcoral;
        color: white;
        padding: 10px;
        position: relative;
        width: 80%;
        font-family: sans-serif;
        z-index: 1;
    }
    .respuesta::after {

        content: '';
        position: absolute;
        bottom: 0;
        right: -20px;
        background: transparent;
        width: 0px; height: 0px;
        border-bottom: 40px solid lightcoral;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        transform: rotate(180deg);
        z-index: -1;
    }

    .calificacion-container {
        display: inline-block;
        font-size: 24px;
        color: #ffd700; /* Color amarillo para las estrellas llenas */
    }

    .calificacion-container .fa-star {
        color: #ccc; /* Color gris para las estrellas vacías */
    }



    .rating {
        direction: rtl;
        unicode-bidi: bidi-override;
    }
    .rating input {
        display: none;
    }
    .rating label {
        font-size: 2em;
        color: #ddd;
        cursor: pointer;
    }
    .rating input:checked ~ label {
        color: #ffd700; /* Color amarillo para las estrellas seleccionadas */
    }



</style>
{%endblock%}

{% block main %}
<div class="container container-central mt-4">
        <div class="col">
            <h1 class="mb-0">{{product.nombre}}</h1>
            <div class="calificacion-container" data-calificacion="{{product.calificacion}}"></div>
        </div>
    <div class="row mt-4">
        <div class="col-md-4 d-flex justify-content-center">
            {% if product.urlImagen %}
            <img src="{{ product.urlImagen }}" alt="Imagen de {{ product.nombre }}" width="200px" height="200px"
                class="rounded border b-2" loading="async" />
            {% else %}
            <img src="/no-image.jpg" alt="Imagen de {{ product.nombre }}" width="200px" height="200px"
                class="rounded border b-2" loading="async" onerror="this.onerror=null; this.src='/no-image.jpg';" />
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="row row-detalle">
                <div class="col-md-3 m-1">
                    <strong class="span-label">Marca:</strong>
                </div>
                <div class="col-md-4 m-1">
                    <span class="span-content"> {{ product.marca }}</span>
                </div>
            </div>
            <div class="row row-detalle">
                <div class="col-md-3 m-1">
                    <strong class="span-label">Categoría:</strong>
                </div>
                <div class="col-md-4 m-1">
                    <span class="span-content"> {{ product.categoria.nombre }}</span>
                </div>
            </div>

            <div class="row row-detalle">
                <div class="col-md-3 m-1">
                    <strong class="span-label">Precio por dia:</strong>
                </div>
                <div class="col-md-4 m-1">
                    <span class="span-content"> {{ product.moneda.simbolo }} {{ product.precio }} {{
                        product.moneda.sigla }}</span>
                </div>

            </div>
            <div class="row row-detalle">
                <div class="col-md-3 m-1">
                    <strong class="span-label">Zona:</strong>
                </div>
                <div class="col-md-6 m-1">
                    <span class="span-content"> {{ product.localidad.nombre }}</span>
                </div>
            </div>
            <div class="row row-detalle">
                <div class="col-md-12 m-1">
                    <strong class="mb-1 span-label" style="width: 100%; text-align: left">Caracteristicas</strong>
                    <span style="color: #ced4da;float: left"> {{ product.detalle }}</span>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-4">
        <div class="col p-3 d-flex justify-content-start">
            <a href="/" class="btn btn-primary"><i class="fa-solid fa-arrow-left fa-bounce"></i> Volver</a>
        </div>
        <div class="col p-3 d-flex justify-content-center">
            <form action="/chat/{{ product.id }}" method="POST">
                <button type="submit" class="btn btn-primary">
                    <i class="fab fa-facebook-messenger"></i> Enviar mensaje
                </button>
            </form>
        </div>
        {% if alquiler == null %} 
            {% if product.estado !== 'A' and estaAuth === true%}
            <div class="col p-3 d-flex justify-content-start">
                <form>
                    <button type="button" class="btn btn-success" id="formPayment">
                        Alquilar Producto
                    </button>
                </form>
            </div>
            {% endif %}
        {% else %}
            {% if alquiler.estado == 'PR' and estaAuth == true%}
            <div class="col p-3 d-flex justify-content-start">
                <form>
                    <button type="button" class="btn btn-success" id="btnLoRetire" data-alquiler-id="{{ alquiler.id }}">
                        Lo Retire
                    </button>
                </form>
            </div>
            {% endif %}

            {% if alquiler.estado == 'PD' and estaAuth == true%}
            <div class="col p-3 d-flex justify-content-start">
                <form>
                    <button type="button" class="btn btn-success" id="btnLoDevolvio">
                        Lo Devolvio
                    </button>
                </form>
            </div>
            {% endif %}
        {% endif %}


        {% if estaAuth === true %}
        <div class="col p-3 d-flex justify-content-start">
            <button id="btnFavs" data-product-id="{{ product.id }}" type="submit"
                class="btn btn-outline-warning mb-2 favorito-button">
                <!-- otra opciones https://www.neoguias.com/mostrar-ocultar-elementos-html/#Atributo_Hidden_de_HTML-->
                <i class="fa-regular fa-star" style="display: block;"></i>
            </button>
        </div>
        {% endif %}

        {% if estaAuth === true and calificar !== false %}
            <data value="{{ calificar | default('') | safe }}" id="calificar"></data>
        {% endif %}
    </div>
    <div class="row">

        <div class="preguntas">
            <h2>Preguntas</h2>
            <button class="btn btn-primary">Ver preguntas</button>
        </div>

        <div class="preguntas-contenido">
            <ul>
                {% if preguntas | length > 0 %}
                {% for pregunta in preguntas %}
                {{ preguntaMacro.preguntaMacro(pregunta) }}
                {% endfor %}
                {% endif %}
            </ul>
            {% if estaAuth === true %}
                <form action="/ask-ans/{{ product.id }}" method="POST" id="formQuest">
                    <input type="text" name="questAnswer" placeholder="Pregunta" class="form-control" style="width: 80%; display: inline">
                    <button type="submit" id="btn-send" class="btn btn-outline-info"
                            style="display: inline"><i class="fa-solid fa-paper-plane fa-xl"></i>Enviar</button>
                </form>
            {% endif %}
        </div>

    </div>


</div>

<script>
    document.querySelector('#btnFavs').addEventListener('click', function () {
        var productId = this.getAttribute('data-product-id');
        fetch(`/my_favs/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ producto_id: productId }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.mensaje);
                var cambiarIcono = this.querySelector('i');
                cambiarIcono.classList.remove('fa-regular');
                cambiarIcono.classList.add('fa-solid');
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    var openRentalFormButton = document.querySelector('#openRentalForm');
    if (!openRentalFormButton) {
        console.log('Botón openRentalForm no encontrado.');
        return;
    }
    openRentalFormButton.addEventListener('click', function (event) {
        event.preventDefault();
        Swal.fire({
            title: 'Selecciona la fecha de devolución',
            html: '<input type="date" id="fechaDevolucion" class="swal2-input">',
            showCancelButton: true,
            confirmButtonText: 'Confirmar',
            cancelButtonText: 'Cancelar',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                const fechaDevolucionInput = Swal.getPopup().querySelector('#fechaDevolucion');
                if (fechaDevolucionInput) {
                    const fechaDevolucion = new Date(fechaDevolucionInput.value);
                    const fechaActual = new Date();
                    const diasAlquiler = Math.ceil((fechaDevolucion - fechaActual) / (1000 * 60 * 60 * 24));
                    if (!diasAlquiler || diasAlquiler < 1 || diasAlquiler > 30) {
                        Swal.showValidationMessage('Por favor, ingresa una fecha válida (entre 1 y 30 días a partir de hoy).');
                    }
                    return diasAlquiler;
                } else {
                    console.error('Elemento de entrada no encontrado en el diálogo modal.');
                }
            }
            }).then((result) => {
        if (result.isConfirmed) {
                const diasAlquiler = result.value;
                Swal.fire({
                    title: 'Días de alquiler confirmados',
                    text: `Has seleccionado ${diasAlquiler} días para alquilar el producto.`,
                    icon: 'success',
                });
                fetch(`/payment/{{ product.id }}/${diasAlquiler}`, {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Respuesta de pago recibida:', data);
                    window.location.href = data.init_point;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        });
    });


});
</script>

<script>

    $(document).ready(function(){
        const btnLoRetire = $('#btnLoRetire');
        const alquilerId = btnLoRetire.data('alquiler-id');
        console.log("El valor de alquilerID dentro de productDetails.html es: ", alquilerId)
        btnLoRetire.on('click', async () => {
            try {
                const response = await fetch(`/_product_details_EAlquilado/${alquilerId}`, 
                {
                    method: 'POST'
                 });
                const data = await response.json();
                console.log(data);
                if (data.success) {
                    Swal.fire({
                        title: 'Genial, retiraste el producto',
                        icon: 'success'
                    }).then(() => {
                        window.location.href = '/';
                    });
                } else {
                    console.error('Error:', data.error);
                }
            } catch (error) {
                console.error('Error post el endopoint /_product_details_EstaAlquilado/${alquilerId}:', error);
            }
        });

})
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
        $('.preguntas .btn').click(function() {
            $('.preguntas-contenido').toggle();
        });


        // Obtener la calificación del contenedor
        var calificacion = $('.calificacion-container').data('calificacion');

        // Rellenar las estrellas según la calificación
        if (calificacion > 0){
            for (var i = 1; i <= 5; i++) {
                if (i <= calificacion) {
                    // Estrella llena
                    $('.calificacion-container').append('<i class="fas fa-star"></i>');
                } else {
                    // Estrella vacía
                    $('.calificacion-container').append('<i class="far fa-star"></i>');
                }
            }
        }

        //     Prueba del swwt alert

        // Código JavaScript para abrir SweetAlert según el parámetro recibido
        const alquiler = $('#calificar') ? $('#calificar').val() : false;


        // Verificar si se debe mostrar el SweetAlert
        if (alquiler) {
            mostrarSweetAlert();
        }

        function mostrarSweetAlert() {
            Swal.fire({
                title: 'Calificar alquiler',
                icon: 'question',
                html: `
        <div class="rating">
          <input type="radio" id="star5" name="rating" value="5" />
          <label for="star5" title="5 stars"><i class="fas fa-star"></i></label>
          <input type="radio" id="star4" name="rating" value="4" />
          <label for="star4" title="4 stars"><i class="fas fa-star"></i></label>
          <input type="radio" id="star3" name="rating" value="3" />
          <label for="star3" title="3 stars"><i class="fas fa-star"></i></label>
          <input type="radio" id="star2" name="rating" value="2" />
          <label for="star2" title="2 stars"><i class="fas fa-star"></i></label>
          <input type="radio" id="star1" name="rating" value="1" />
          <label for="star1" title="1 star"><i class="fas fa-star"></i></label>
        </div>
      `,
                showCancelButton: true,
                confirmButtonText: 'Calificar',
                cancelButtonText: 'Cancelar',
                allowOutsideClick: false,
                preConfirm: () => {
                    const rating = document.querySelector('input[name="rating"]:checked');
                    return rating ? rating.value : null;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const calificacion = result.value;
                    if (calificacion) {
                        console.log(calificacion)
                        fetch('/calificar', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ alquiler: alquiler, calificacion:calificacion }),
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data === 200){
                                    Swal.fire({
                                        title: '¡Usted ha calificado el producto!',
                                        text: 'Gracias por aportar a la comunidad',
                                        icon: 'success',
                                        showConfirmButton: false,
                                        timer: 2400,
                                    })
                                }
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });



                    } else {
                        Swal.fire('Error', 'Selecciona una calificación antes de confirmar.', 'error');
                    }
                }
            });
        }



    });
</script>

{% endblock %}
