{% block stylesheet %}
<link rel="stylesheet" href="../static/css/formstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{%endblock%}


{% macro productCard(product) %}
{% block style %}
<style>
    .btn-outline-dark:hover{
        background-color: #030303;
        color: #FFFFFF;
    }
    .btn-outline-danger:hover{
        background-color: #dc3545;
        color: #FFFFFF;
    }
    .alquilado{
        background-color: #618A9E;
        opacity: 85%;
        width: 300px;
        height: 300px;
    }
    .alquilado-text{
        color: black;
        font-weight: bold;
    }
    .product.card{
        width: 300px;
        height: 345px;
        margin: 2px;
        box-sizing: border-box;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        background-color: #9FBCCB;
    }
    .product.card img{
        width: 180px;
        height: 180px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .fs-3{
        font-size: 1rem;
    }
</style>
{%endblock%}
<a href="product/details/{{ product.id }}" style="color: inherit; text-decoration: none;">
    <div class="product card">
        <div class="card-body d-flex flex-column justify-content-between {% if product.estado === 'A' %}alquilado{% endif %}">
            <div style="display: block; margin: auto;">
                <p>
                    {% if product.urlImagen %}
                        <img src="{{ product.urlImagen }}" alt="Imagen de {{ product.nombre }}" width="144px" height="144px" small class="rounded border b-2 float-start" loading="async" />
                    {% else %}
                        <img src="/no-image.jpg" alt="Imagen de {{ product.nombre }}" width="144px" height="144px" class="rounded border b-2 float-start" loading="async" onerror="this.onerror=null; this.src='/no-image.jpg';"/>
                    {% endif %}
                </p>
            </div>
            <div class="ms-3">
                <h5 class="card-title mb-0">{{ product.nombre }}
                    <br>
                    {% if product.estado === 'A' %}
                    <span class="alquilado-text">ALQUILADO</span>
                    {% endif %}
                </h5>
                <p class="card-text">
                    <span><i class="fa fa-lg {{product.categoria.icono_fa}}"></i></span>
                    <small class="text-muted">{{ product.categoria.nombre }}</small>

                </p>

                <p class="fs-3">$ {{ product.precio }}</p>

                <p class="card-text">
                    {% if product.description != null %}
                    <small class="text" data-testid="description">{{ product.detalle }}</small>
                    {% endif %}
                </p>
            </div>

            <div class="flex-grow-1 d-flex align-items-center justify-content-end ">
                <div class="col-sm-2">
                    <!-- Boton para eliminar un producto-->
                    <form action="" method="GET" id="btnDelete">
                        <button type="button" id="eliminar-{{ product.id }}" class="btn btn-outline-danger mb-2 eliminar-button"
                                data-product-id="{{ product.id }}"
                                style="position: absolute;right: 0px;bottom: 0px; margin-right: 10px;"><i class="fa-solid fa-trash-can fa-xl"></i></button>
                    </form>
                    <!-- Boton para eliminar un producto marcado como favorito-->
                    <form action="" method="GET" id="btnDeleteFav">
                        <button type="submit" id="eliminarFav-{{ product.Id }}" class="btn btn-outline-warning mb-2 eliminar-favorito-button"
                                data-product-id="{{ product.Id }}"
                                style="position: absolute;right: 0px;bottom: 0px; margin-right: 10px;"><i class="fa-solid fa-star"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</a>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const eliminarButtons = document.querySelectorAll('.eliminar-button');
        eliminarButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                const productId = button.getAttribute('data-product-id');

                Swal.fire({
                    title: '¿Estás seguro de que quiere Eliminar el producto?',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonColor: '#6982E8',
                    cancelButtonText: 'No ¡Me equivoqué!',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'Eliminar',
                    reverseButtons: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/product/delete/' + productId, {
                            method: 'DELETE',
                        })
                        .then(response => response.json())
                        .then(data => {
                            if(data.success){
                                Swal.fire(
                                    '¡Eliminado!',
                                    'El producto ha sido eliminado.',
                                    'success'
                                ); 
                                document.getElementById('eliminar-' + productId).closest('.product').remove();
                            }else{
                                console.error(data.message);
                            }
                        });
                    }
                });
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const eliminarFavoritoButtons = document.querySelectorAll('.eliminar-favorito-button');
        eliminarFavoritoButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                const productId = button.getAttribute('data-product-id');
                fetch('/my_favs/delete/' + productId, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if(data.success) {
                        location.reload();
                    }else{
                        console.error(data.message);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
    });
</script>
{% endmacro %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
