{% extends "_base.html" %}

{% block css %}
<style>
    /**{*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*    font-family: Arial, Helvetica, sans-serif;*/
    /*    box-sizing: border-box;*/
    /*    text-decoration: none;*/
    /*}*/
    .container-central {
        width: 90%;
        height: 90%;
        background-color: #1A2234;
        margin-bottom: 2em;
        padding: 20px 20px 20px;
        text-align: center;
        border-radius: 25px;
        position: relative;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 60px;
        color: #FFFFFF;
        position: relative;
    }

    .span-label {
        font-size: 1.4em;
        margin-bottom: 60px;
        color: #FFFFFF;
        float: left;
    }

    .span-content {
        font-size: 1.2em;
        margin-bottom: 60px;
        color: #FFFFFF;
        position: relative;
    }

    .row-detalle {
        height: 4em;
    }

    .input-field select {
        width: 25%;
        background-color: #828A97;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .input-field select option {
        color: #828A97;
    }

    .btn-field {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: -15px;
    }

    .btn-field button {
        flex-basis: 48%;
        font-size: 14px;
        background-color: #6982E8;
        color: #FFFFFF;
        height: 35px;
        border-radius: 8px;
        /*Eliminar en caso de que se quiera hacer el botón como un cuadrado*/
        border: 0;
        outline: 0;
        border: none;
        outline: none;
        cursor: pointer;
        transition: background 1s;
        margin-right: 10px;
    }

    #btnFavs:hover {
        background-color: transparent;
    }

    #btnFavs {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 27px;
        margin-right: 20px;
    }
</style>
{%endblock%}

{% block main %}
<div class="container container-central mt-4">
    <div class="col">
        <h1>{{product.nombre}}</h1>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 d-flex justify-content-center">
            {% if product.urlImagen %}
            <img src="{{ product.urlImagen }}" alt="Imagen de {{ product.nombre }}" width="200px" height="200px"
                class="rounded border b-2" loading="async" />
            {% else %}
            <img src="/no-image.jpg" alt="Imagen de {{ product.nombre }}" width="200px" height="200px"
                class="rounded border b-2" loading="async" onerror="this.onerror=null; this.src='/no-image.jpg';" />
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="row row-detalle">
                <div class="col-md-3 m-1">
                    <strong class="span-label">Marca:</strong>
                </div>
                <div class="col-md-4 m-1">
                    <span class="span-content"> {{ product.marca }}</span>
                </div>
            </div>
            <div class="row row-detalle">
                <div class="col-md-3 m-1">
                    <strong class="span-label">Categoría:</strong>
                </div>
                <div class="col-md-4 m-1">
                    <span class="span-content"> {{ product.categoria.nombre }}</span>
                </div>
            </div>

            <div class="row row-detalle">
                <div class="col-md-3 m-1">
                    <strong class="span-label">Precio por dia:</strong>
                </div>
                <div class="col-md-4 m-1">
                    <span class="span-content"> {{ product.moneda.simbolo }} {{ product.precio }} {{
                        product.moneda.sigla }}</span>
                </div>

            </div>
            <div class="row row-detalle">
                <div class="col-md-3 m-1">
                    <strong class="span-label">Zona:</strong>
                </div>
                <div class="col-md-6 m-1">
                    <span class="span-content"> {{ product.localidad.nombre }}</span>
                </div>
            </div>
            <div class="row row-detalle">
                <div class="col-md-12 m-1">
                    <strong class="mb-1 span-label" style="width: 100%; text-align: left">Caracteristicas</strong>
                    <span style="color: #ced4da;float: left"> {{ product.detalle }}</span>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-4">
        <div class="col p-3 d-flex justify-content-start">
            <a href="/" class="btn btn-primary"><i class="fa-solid fa-arrow-left fa-bounce"></i> Volver</a>
        </div>
        <div class="col p-3 d-flex justify-content-center">
            <form action="/chat/{{ product.id }}" method="POST">
                <button type="submit" class="btn btn-primary">
                    <i class="fab fa-facebook-messenger"></i> Enviar mensaje
                </button>
            </form>
        </div>
        {% if alquiler == null %} 
            {% if product.estado !== 'A' and estaAuth === true%}
            <div class="col p-3 d-flex justify-content-start">
                <form>
                    <button type="button" class="btn btn-success" id="formPayment">
                        Alquilar Producto
                    </button>
                </form>
            </div>
            {% endif %}
        {% else %}
            {% if alquiler.estado == 'PR' and estaAuth == true%}
            <div class="col p-3 d-flex justify-content-start">
                <form>
                    <button type="button" class="btn btn-success" id="btnLoRetire" data-alquiler-id="{{ alquiler.id }}">
                        Lo Retire
                    </button>
                </form>
            </div>
            {% endif %}

            {% if alquiler.estado == 'PD' and estaAuth == true%}
            <div class="col p-3 d-flex justify-content-start">
                <form>
                    <button type="button" class="btn btn-success" id="btnLoDevolvio">
                        Lo Devolvio
                    </button>
                </form>
            </div>
            {% endif %}
        {% endif %}


        {% if estaAuth === true %}
        <div class="col p-3 d-flex justify-content-start">
            <button id="btnFavs" data-product-id="{{ product.id }}" type="submit"
                class="btn btn-outline-warning mb-2 favorito-button">
                <!-- otra opciones https://www.neoguias.com/mostrar-ocultar-elementos-html/#Atributo_Hidden_de_HTML-->
                <i class="fa-regular fa-star" style="display: block;"></i>
            </button>
        </div>
        {% endif %}
    </div>
</div>

<script>
    document.querySelector('#btnFavs').addEventListener('click', function () {
        var productId = this.getAttribute('data-product-id');
        fetch(`/my_favs/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ producto_id: productId }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.mensaje);
                var cambiarIcono = this.querySelector('i');
                cambiarIcono.classList.remove('fa-regular');
                cambiarIcono.classList.add('fa-solid');
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });

    const payment = document.getElementById('formPayment')

    payment.addEventListener('click', async () => {
        const response = await fetch('/payment/{{ product.id }}', {
            method: 'POST'
        })

        const data = await response.json()
        console.log(data)
        window.location.href = data.init_point;
    })

</script>
<script>

    $(document).ready(function(){
        const btnLoRetire = $('#btnLoRetire');
        const alquilerId = btnLoRetire.data('alquiler-id');
        console.log("El valor de alquilerID dentro de productDetails.html es: ", alquilerId)
        btnLoRetire.on('click', async () => {
            try {
                const response = await fetch(`/_product_details_EAlquilado/${alquilerId}`, 
                {
                    method: 'POST'
                 });
                const data = await response.json();
                console.log(data);
                if (data.success) {
                    Swal.fire({
                        title: 'Genial, retiraste el producto',
                        icon: 'success'
                    }).then(() => {
                        window.location.href = '/';
                    });
                } else {
                    console.error('Error:', data.error);
                }
            } catch (error) {
                console.error('Error post el endopoint /_product_details_EstaAlquilado/${alquilerId}:', error);
            }
        });

})
</script>
{% endblock %}