{% extends "_base.html" %}

{% block title %} Formulario {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../static/css/formstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{%endblock%}

{% block main %}
    <div class="container" id="containerPostSegundo">
        <div class="form-content">
            <h1 id="title" style="color: black;">Publicar producto</h1>
            <form action="/formulario" method="post" id="formPostProduct" enctype="multipart/form-data">
                <div class="input-group" id="inputPost">
                    <div class="input-field" id="nameInput" style="margin-top: 1px;">
                        <i class="fa-solid fa-toolbox"></i>
                        <input type="text" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="input-field" id="categoriaInput">
                        <i class="fa-solid fa-bars"></i>
                        <div style="flex: 1;">
                            <select class="select2-no-search select2-dropdown select" name="categoria_id" style="width: 100%; border: none; outline: none; margin-right: 2px">
                                <option value="">Categoria</option>
                                {% for categoria in categorias %}
                                <option value="{{ categoria.nombre }}">{{ categoria.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="input-field" id="marcaInput">
                        <i class="fa-regular fa-copyright"></i>
                        <input type="text" name="marca" placeholder="Marca" required>
                    </div>
                    <div class="input-field" style="display: flex; align-items: center;">
                        <div style="flex: 1;">
                            <select class="select2 select2-dropdown select small-input" name="moneda_id" style="width: 100%; border: none; outline: none; margin-right: 2px">
                                <option value="">Moneda</option>
                                {% for moneda in monedas %}
                                <option value="{{ moneda.sigla }}">{{ moneda.sigla }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="display: flex; align-items: center">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <input type="text" name="precio" placeholder="Precio" class="small-input" required>
                        </div>
                    </div>
                    <div class="input-field" id="detalleInput">
                        <i class="fa-regular fa-copyright"></i>
                        <textarea type="text" name="detalle" placeholder="Detalle"></textarea>
                    </div>
                    <div class="input-field" id="localidadInput">
                        <i class="fa-solid fa-globe"></i>
                        <div style="flex: 1;">
                            <select class="select2-no-search select2-dropdown select" name="localidad_id" style="width: 100%; border: none; outline: none; margin-right: 2px">
                                <option value="">Zona</option>
                                {% for localidad in localidades %}
                                <option value="{{ localidad.nombre }}">{{ localidad.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="file-select input-field" id="src-file1" style="margin-top: 1px;">
                                            <input type="file" id="urlImagen" name="urlImagen">
<!--                        <input type="file" name="src-file1" aria-label="Archivo">-->
                    </div>

                    <!--<div class="input-field" style="width: 100%; height: 100px; display: flex; justify-content: center; align-items: center;">
                        <input type="file" id="urlImagen" name="image" style="display: none;"><br>
                        <label for="urlImagen" style="display: inline-block; padding: 10px 20px; cursor: pointer; background-color: #6982E8; color: white;  text-align: left; border-radius: 8px;">
                            <i class="fa-solid fa-arrow-up-from-bracket fa-bounce fa-lg" style="color: white;"></i>
                            Elegir archivo
                        </label>
                    </div>-->
                </div>
                <br>
                <div class="btn-field" style="margin-top: 2px;">
                    <button id="cancel" type="button" style="background-color: #d33;">Cancelar</button>
                    <button id="post" type="submit">Publicar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('formPostProduct').addEventListener('submit', function(event){
            event.preventDefault();

             const inputFile = document.getElementById('urlImagen');
            if (!inputFile.files.length) {
                // Muestra un mensaje de error
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡Debes subir una imagen!',
                });
                return; 
            }
            Swal.fire({
                title: '¿Desea publicar el producto?',
                showDenyButton: true,
                confirmButtonColor: '#6982E8',
                confirmButtonText: 'Confirmar',
                denyButtonText: 'Cerrar',
                reverseButtons: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: '¡Usted ha publicado su producto!',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1200,
                    }).then(() => {
                        event.target.submit();
                    });
                };
            });
        });
    </script>

    <script>
        document.querySelector('#cancel').addEventListener('click', function(event) {
            Swal.fire({
                title: '¿Estás seguro de que quiere abandonar el lugar?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6982E8',
                confirmButtonText: 'Salir',
                cancelButtonText: 'Seguir aquí',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        '¡Cancelada!',
                        'La operación ha sido cancelada.',
                        'success'
                    ).then(() => {
                        window.location.href = '/';
                    });
                }
            });
        });
    </script>

    <script>
        $('.select2').select2({
            minimumResultsForSearch: Infinity,
        }).on('select2:select', function () {
            $(this).trigger('blur');
        });

        $('.select2-no-search').select2().on('select2:select', function () {
            $(this).trigger('blur');
        });
    </script>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block css %}
<style>

    ::file-selector-button{
        width: 12em;
        opacity: 0;
    }


    .file-select {
        position: relative;
        display: inline-block;
    }
    .file-select::after {
        background-color: #071031;
        color: white;
        display: flex;
        padding-left: 1em;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        font-family: FontAwesome;
        content: '\f093';
        position: absolute;
        left: 1%;
        bottom: 5%;
        height: 85%;
        width: 8%;
    }

    .file-select::before {
        background-color: #071031;
        color: white;
        display: flex;
        padding-left: 8%;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        content: 'Subí una imagen';
        position: absolute;
        line-height: normal;
        left:1%;
        bottom: 5%;
        height: 85%;
        width: 30%;
    }

    .file-select input[type="file"] {

        width: 100px;
        height: 32px;
        display: inline-block;
    }

    #urlImagen::before {
        content: '\f093';
    }


    /* Cambiar el fondo del dropdown a oscuro */
    .select2-container .select2-dropdown{
        background-color: #515966;
    }

    .select2-container .select2-dropdown{
        background-color: #515966;
    }

    /* Cambiar el color del texto en el dropdown a blanco */
    .select2-container .select2-dropdown .select2-results {
        color: #fff;
    }

    .select2-container .select2-selection--single {
        background-color: #515966;
        color: #fff;
        border: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #ffffff;
        line-height: 28px;
        height: 20px;
        text-align: left;
        height: 80px;
    }

    .select2-results__option--highlighted{
        background-color: #4F6E7D !important;
        color: #ffffff;
    }
</style>
{%endblock%}
