<!DOCTYPE html>

<head>
    <html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Formulario</title>
    <link rel="stylesheet" href="../static/css/formstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="form-content">
            <h1 id="title">Publicar producto</h1>
            <form action="/formulario" method="post">
                <div class="input-group">
                    <div class="input-field" id="nameInput">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-bars"></i>
                        <input type="text" name="categoria_id" placeholder="Categoria">
                    </div>
                    <div class="input-field" style="display: flex; align-items: center;">
                        <div style="flex: 1;">
                            <select class="select2 select2-dropdown select" name="moneda_id" style="width: 100%; border: none; outline: none; margin-right: 2px">
                                <option value="">Moneda</option>
                                {% for moneda in monedas %}
                                <option value="{{ moneda.sigla }}">{{ moneda.sigla }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <input type="text" name="precio" placeholder="Precio">
                        </div>
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-globe"></i>
                        <input type="text" name="localidad_id" placeholder="Zona">
                    </div>
                </div>
                <br>
                <div class="btn-field">
                    <button id="cancel" type="button" style="background-color: #d33;">Cancelar</button>
                    <button id="post" type="submit">Publicar</button>
                </div>
            </form>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.querySelector('form').addEventListener('submit', function(event){
            event.preventDefault();
        
            Swal.fire({
                title: '¿Desea publicar el producto?',
                showDenyButton: true,
                confirmButtonColor: '#6982E8',
                confirmButtonText: 'Confirmar',
                denyButtonText: 'Cerrar',
                reverseButtons: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: '¡Usted ha publicado su producto!',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1200,
                    }).then(() => {
                        event.target.submit();
                    });
                };
            });
        }); 
    </script>

    <script>
        document.querySelector('#cancel').addEventListener('click', function(event) {
            Swal.fire({
                title: '¿Estás seguro de que quiere abandonar el lugar?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6982E8',
                confirmButtonText: 'Sí, cancelar',
                cancelButtonText: 'No, seguir aquí',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        '¡Cancelada!',
                        'La operación ha sido cancelada.',
                        'success'
                    ).then(() => {
                        window.location.href = '/';
                    });
                }
            });
        });
    </script>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $('.select2').select2().on('select2:select', function () {
        $(this).trigger('blur');
    });
    $('.select2-noSearch').select2({
        minimumResultsForSearch: Infinity,
    }).on('select2:select', function () {
        $(this).trigger('blur');
    });
</script>


<style>
    /* Cambiar el fondo del dropdown a oscuro */
    .select2-container .select2-dropdown {
        background-color: #333; /* Cambia el color de fondo a tu preferencia */
    }

    /* Cambiar el color del texto en el dropdown a blanco */
    .select2-container .select2-dropdown .select2-results {
        color: #fff; /* Cambia el color del texto a tu preferencia */
    }

    .select2-container .select2-selection--single {
        background-color: #333; /* Cambia el color de fondo a tu preferencia */
        color: #fff; /* Cambia el color del texto a tu preferencia */
    }
</style>


</html>
