<div class="container mt-4">
        <form action="/search" method="get" class="form-search w-50">
            <div class="input-group d-flex">
                <input 
                    type="text"
                    class="form-control" 
                    placeholder="Buscar productos y servicios por nombre" 
                    name="product_name"
                    aria-label="Buscar productos por nombre" 
                    aria-describedby="button-search">
                <button class="btn btn-outline-secondary" type="submit" id="button-search">Buscar</button>
            </div>
        </form>
</div>