#containerPost{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content{
    width: 60%;
    position: relative;
    background-color: #1A2234;
    padding: 20px 20px 20px;
    text-align: center;
    border-radius: 25px;
}

.form-content h1{
    font-size: 38px;
    margin-bottom: 60px;
    color: #FFFFFF;
    position: relative;
}

.form-content h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #6982E8;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
    flex-wrap: wrap;
}

.input-field select{
    background-color: #828A97;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    outline: none;
}

input{
    width: 80%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 10px 15px;
    color: #FFFFFF;
    text-align: left;
}

input::placeholder{
    color: #FFFFFF;
}

.input-field i{
    margin-left: 15px;
    color: #6982E8;
}

.btn-field{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
}

.btn-field button{
    flex-basis: 48%;
    font-size: 14px;
    background-color: #6982E8;
    color: #FFFFFF;
    height: 35px;
    border-radius: 8px; /*Eliminar en caso de que se quiera hacer el botón como un cuadrado*/
    border: 0;
    outline: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 1s;
    margin-right: 10px;
}

#categoriaInput, #localidadInput, #municipioInput{
    padding: 8px 8px;
}

#inputPost{
    flex-direction: column;
}

#button-publicar{
    /*display: hide; Para eliminar el botón*/
    visibility: hidden;
}

#urlImagen{
    background-color: #515966;
    color: white; 
    width: 100%; 
    height: 100%;
}