:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bs-gray-400);
}
.navbar {
    background-color: #000000;
}

.navbar-brand {
    font-family: 'Macondo', 'Montserrat', sans-serif;
    font-size: 2rem;
}
.navbar-brand:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.pagination {
    justify-content: center;
}

.pagination .current {
    display: inline-block;
    padding: 0.5rem 1rem;
    background:var(--bs-gray-400);
}

.pagination ul {
    list-style: none;
    display: flex;
}

.filter{
    background: var(--bs-gray-900);
}

.filter select{
    width: 15rem ;
}

.ui-search-rescue__icon {
    display: inline-block;
    margin-right: 35px;
    margin-top: -8px;
    vertical-align: middle;
}
.ui-search-rescue__list {
    font-size: 16px;
    margin: 18px 10px 10px 0;
}

#btnDelete{
    display: none;
}
#btnDeleteFav{
    display: none;
}
#btnDeleteFav:hover{
    background-color: transparent;
}

.fechaCal{
    background-color: #515966;
    color:white;
    width: 80%;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}