:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bs-gray-400);
}

.navbar-brand {
    font-family: 'Macondo', 'Montserrat', sans-serif;
    font-size: 2rem;
}

.pagination {
    justify-content: center;
}

.pagination .current {
    display: inline-block;
    padding: 0.5rem 1rem;
    background:var(--bs-gray-400);
}

.pagination ul {
    list-style: none;
    display: flex;
}

.filter{
    background: var(--bs-gray-900);
}

.filter select{
    width: 15rem ;
}

.ui-search-rescue__icon {
    display: inline-block;
    margin-right: 35px;
    margin-top: -8px;
    vertical-align: middle;
}
.ui-search-rescue__list {
    font-size: 16px;
    font-weight: 300;
    margin: 18px 10px 10px 0;
  }
 